/* originally authored by Nick Pettit - https://github.chmln-com/nickpettit/glide */

@-webkit-keyframes chmln-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes chmln-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.chmln-pulse {
  -webkit-animation-name: chmln-pulse;
  animation-name: chmln-pulse;
}

@-webkit-keyframes chmln-shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes chmln-shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.chmln-shake {
  -webkit-animation-name: chmln-shake;
  animation-name: chmln-shake;
}

@-webkit-keyframes chmln-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes chmln-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.chmln-fadeIn {
  -webkit-animation-name: chmln-fadeIn;
  animation-name: chmln-fadeIn;
}

@-webkit-keyframes chmln-fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chmln-fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.chmln-fadeInDown {
  -webkit-animation-name: chmln-fadeInDown;
  animation-name: chmln-fadeInDown;
}

@-webkit-keyframes chmln-fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chmln-fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.chmln-fadeInLeft {
  -webkit-animation-name: chmln-fadeInLeft;
  animation-name: chmln-fadeInLeft;
}

@-webkit-keyframes chmln-fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chmln-fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.chmln-fadeInRight {
  -webkit-animation-name: chmln-fadeInRight;
  animation-name: chmln-fadeInRight;
}

@-webkit-keyframes chmln-fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chmln-fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.chmln-fadeInUp {
  -webkit-animation-name: chmln-fadeInUp;
  animation-name: chmln-fadeInUp;
}

.chmln-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.chmln-animated.chmln-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.chmln-animated.chmln-delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.chmln-animated.chmln-delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.chmln-animated.chmln-delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.chmln-animated.chmln-delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.chmln-animated.chmln-delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.chmln-animated.chmln-fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.chmln-animated.chmln-faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.chmln-animated.chmln-slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.chmln-animated.chmln-slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (prefers-reduced-motion) {
  .chmln-animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
