/* originally authored by Nick Pettit - https://github.chmln-com/nickpettit/glide */

@-webkit-keyframes chmln-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes chmln-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.chmln-pulse {
  -webkit-animation-name: chmln-pulse;
  animation-name: chmln-pulse;
}

@-webkit-keyframes chmln-shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes chmln-shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.chmln-shake {
  -webkit-animation-name: chmln-shake;
  animation-name: chmln-shake;
}

@-webkit-keyframes chmln-fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes chmln-fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.chmln-fade_in {
  -webkit-animation-name: chmln-fade_in;
  animation-name: chmln-fade_in;
}

@-webkit-keyframes chmln-fade_in_down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -33%, 0);
    transform: translate3d(0, -33%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chmln-fade_in_down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -33%, 0);
    transform: translate3d(0, -33%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.chmln-fade_in_down {
  -webkit-animation-name: chmln-fade_in_down;
  animation-name: chmln-fade_in_down;
}

@-webkit-keyframes chmln-fade_in_left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chmln-fade_in_left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.chmln-fade_in_left {
  -webkit-animation-name: chmln-fade_in_left;
  animation-name: chmln-fade_in_left;
}

@-webkit-keyframes chmln-fade_in_right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chmln-fade_in_right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.chmln-fade_in_right {
  -webkit-animation-name: chmln-fade_in_right;
  animation-name: chmln-fade_in_right;
}

@-webkit-keyframes chmln-fade_in_up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 33%, 0);
    transform: translate3d(0, 33%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chmln-fade_in_up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 33%, 0);
    transform: translate3d(0, 33%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.chmln-fade_in_up {
  -webkit-animation-name: chmln-fade_in_up;
  animation-name: chmln-fade_in_up;
}

@-webkit-keyframes chmln-fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes chmln-fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.chmln-fade_out {
  -webkit-animation-name: chmln-fade_out;
  animation-name: chmln-fade_out;
}

.chmln-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
  .chmln-animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.chmln-animated.chmln-fade_in,
.chmln-animated.chmln-fade_out {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
